body {
  margin: 0;
  font-family: "PT Sans Narrow", "Yanone Kaffeesatz", "Barlow Condensed", sans-serif;
  width: 100%; }

.site-logo {
  padding: 10px; }

header {
  --text: transparent;
  --text-inverse: transparent;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 1em 0.25em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text); }

nav {
  display: flex;
  align-items: center; }

#text {
  min-height: 250px;
  min-width: 500px; }

.nav__link {
  --border: transparent;
  margin: auto;
  border: var(--border); }

.nav-scrolled {
  --text: #f6f6f6;
  --text-inverse: #f6f6f6;
  --background: #333;
  align-items: center;
  text-shadow: 0 0 1px #f6f6f6; }

.button {
  --background: transparent;
  --color: transparent;
  --border: transparent;
  padding: 0px 20px;
  margin: auto;
  outline: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: var(--background);
  color: var(--text);
  border: var(--border); }

.homeIntro {
  padding: 50vh 0;
  background-image: url(./img/HITW.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #333;
  color: white;
  font-size: 1.75rem;
  text-shadow: 0 0 5px black;
  text-align: center;
  overflow: hidden; }

.nameTag {
  font-size: 5rem; }

.titleTag {
  font-size: 3rem; }

.introName {
  margin: -225px; }

.contactForm {
  margin: -325px; }

.downArrow {
  max-height: 200px;
  max-width: 450px;
  margin-top: 250px; }

.emailBtn {
  text-decoration: none;
  font-size: 36px;
  padding: 10px;
  border: 2px groove #333;
  border-radius: 5px; }
  .emailBtn:hover {
    background-color: #333;
    color: white; }

#message {
  height: 250px; }

.projects {
  background: #f6f6f6;
  overflow-x: hidden; }

#portTop {
  margin-top: 12px; }

.portHeader {
  border-top: 1px solid #333; }

h2 {
  text-align: center; }

h4 {
  margin: auto; }

#aboutScroll {
  padding-bottom: 80px;
  bottom: 0; }

.homeAbout {
  padding: 4em 0;
  padding-bottom: 0;
  margin: auto;
  display: flex;
  align-items: center; }

.liSelfie {
  max-width: 40%;
  margin: auto; }

#aboutMe {
  text-align: center;
  max-width: 500px;
  margin: auto; }

.wrapper {
  padding-bottom: 90px;
  background-color: #f6f6f6; }

.divider {
  position: relative;
  margin-top: 90px;
  height: 1px; }

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, #303133, transparent); }

.div-arrow-down:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid #303133;
  border-right: 1px solid #303133; }

.repoImg {
  width: 100%; }

.col + .col {
  margin-left: 1.5em; }

.more-stuff-grid-norm {
  background: #f6f6f6;
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr); }

.more-stuff-grid-inv {
  background: #f6f6f6;
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr); }

footer {
  background: #f6f6f6;
  height: 30px; }

.fade-in.appear {
  opacity: 1; }

.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%); }

.from-right {
  grid-column: 3 / 4;
  transform: translateX(50%); }

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1; }

@media only screen and (max-width: 812px) {
  /* For mobile phones: */
  .homeAbout {
    display: flex;
    flex-direction: column;
    margin: 3px; }
  .liSelfie {
    max-width: 75%;
    margin: auto;
    text-align: center; }
  .contactForm {
    padding: 10%;
    margin: -295px; }
  .more-stuff-grid-norm {
    display: flex;
    flex-direction: column;
    margin: 3px;
    margin-bottom: 8px;
    padding: 3px;
    border: 1.5px solid black; }
  .more-stuff-grid-inv {
    display: flex;
    flex-direction: column-reverse;
    margin: 3px;
    padding: 8px;
    border: 1.5px solid black; }
  .rowNorm {
    width: 100%; }
  .rowInv {
    width: 100%; }
  .downArrow {
    max-height: 100px;
    max-width: 225px;
    margin-top: 250px; }
  .nameTag {
    font-size: 3rem; }
  #text {
    min-height: 200px;
    min-width: 350px; } }

@media only screen and (max-width: 321px) {
  .button {
    font-size: 12px; }
  .contactForm {
    padding: 5%;
    margin: -250px; }
  #text {
    min-height: 200px;
    min-width: 300px; } }

@media (pointer: coarse) {
  .homeIntro {
    background-attachment: initial; }
  #sendBtn {
    background-color: white; } }
