body{
    padding: 0;
    flex-direction: row;
    font-family: Georgia, "Times New Roman", Times, serif;
    width:100%;
    margin:0;
    background-image: url(../images/green-fibers.png);
}

#selfie{
    width:100%;
    padding:10px;
}

.profile{
    padding:10px;
}

.navbar-brand{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/farmer.png);
    height:55px;
    font-size:24px; 
    color: #1f1f1f;
    height:55px; 
    margin:auto;
    float:left; 
    bottom:0;
    margin-left:40px;
    padding:10px;
}

.navbar{
    width:100%;
    text-align:right;
    box-sizing: border-box;
    padding:0px;
    background-image: url(../images/farmer.png);
    border-bottom: 1px groove #d1d0d0;
}

.nav-link {
    color: #1f1f1f!important;
}

.container {
    box-sizing: border-box;
    overflow:auto;
    margin-top:30px;
    margin-bottom:30px;
    padding-bottom:20px;
    height: auto;
    border: 1px groove #d1d0d0;
    background-image: url(../images/farmer.png);
    border-radius: 4px
}

#navbarMenu{
    padding-right:5px;
}

.card{
    margin:10px;
    border:10px;
    border: 1px groove #d1d0d0;
}
.card-body{
    background:#333d40;
}

.card-text{
    color:#ffffff;
    font-size: 24px;
    text-align: center;
}

p{
    font-size:16px;
    text-align: left;
    padding:10px;
    
  }

  #aboutText{
      padding-top:20px;
  }

  h2{
      padding:20px 20px 0px 20px;
  }

  footer {
    border-top: 1px groove #d1d0d0;
    height: 60px;
    width: 100%;
    color: #1f1f1f;
    background-image: url(../images/farmer.png);
    text-align: center;
    position: fixed;
    bottom:0; 
    margin-top:20px;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}