body{
    padding: 0;
    flex-direction: row;
    font-family: Georgia, "Times New Roman", Times, serif;
    width:100%;
    margin:0;
    background-image: url(../images/embossed-diamond.png);
}

#selfie{
    width:100%;
    padding:10px;
}

.profile{
    padding:10px;
}

.navbar-brand{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#4aaaa5;
    height:55px;
    font-size:24px; 
    height:55px; 
    margin:auto;
    color:#ffffff !important;
    float:left; 
    bottom:0;
    margin-left:40px;
    padding:10px;
}

.navbar{
    width:100%;
    text-align:right;
    box-sizing: border-box;
    padding:0px;
    border-bottom:1px solid #d1d0d0;
}

.container {
    box-sizing: border-box;
    overflow:auto;
    margin-top:30px;
    margin-bottom:30px;
    height: auto;
    border: 1px solid #d1d0d0;
    background-color: #ffffff;
    border-radius: 4px
}

#navbarMenu{
    padding-right:5px;
}

.card{
    margin:10px
}
.card-body{
    background:#4aaaa5;
}

.card-text{
    color:#ffffff;
    font-size: 24px;
    text-align: center;
}

p{
    font-size:16px;
    text-align: left;
    padding:10px;
    
  }

  #aboutText{
      padding-top:20px;
  }

  h2{
      padding:20px 20px 0px 20px;
      color:#4aaaa5
  }

  footer {
    border-top: 8px solid #4aaaa5;
    height: 60px;
    width: 100%;
    color: #ffffff;
    background-color: #666666;
    text-align: center;
    position: fixed;
    bottom:0; 
    margin-top:20px;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }